$color: black;
$font_size: 14px;

.card {
    color: $color;
    font-size: $font_size;
    line-height: 2;
    &-title {
        color: $color;
        display: flex;
        justify-content: center;
    }
    &-description {
        text-align: center;
    }
    &-border {
        border-left: 2px solid red;
        line-height: 2;
    }
}